@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #eee;
}
/* navbar styles */
.navbar{
  text-align: center;
  padding-top: 3rem;
}
.navbar h1{
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.nav-links{
list-style: none;
margin-top: 1rem;
}
.nav-link{
  display: inline-block;
}
.nav-link a{
  padding:.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  transition: all .5s ease-in-out;
}
.nav-link a:hover{
  background-color: #3c6382;
  color: #fff;
}
.nav-link a.active{
  background-color: #60a3bc;
  color: #fff;
}
/* form styles */
.form{
  margin: auto;
  width: 80%;
  max-width: 700px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2rem;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.form h4{
  text-transform: capitalize;
  margin-bottom: 1rem;
  text-align: center;
  font-size:1.5rem !important ;
}
.formRow{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.formRow .formField{
  width: 48%;
  background-color: #fafafa;
  border-radius: 5px;
}
.formField input{
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: .5rem;
}
.formCol{
  margin-top: 2rem;
  background-color: #fafafa;
  border-radius: 5px;
  width: 100%;
}
.formCol textarea{
  width: 100%;
  max-width: 100%;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
  padding: .5rem;
}
.form button{
  border: none;
  display: block;
  outline: none;
  margin: 2rem auto 0 auto;
  text-align: center;
  background-color: #60a3bc;
  padding: .5rem 1.5rem;
  border-radius: 10px;
  font-weight: 700;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.form button:hover{
  background-color: #3c6382;
}
/* all todos styles */
.allTodos{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 2rem auto;
  gap: 1.5rem;
}
.singleTodo p,
.singleTodo h5{
  background-color: transparent;
  overflow-wrap: break-word;
}
.singleTodo{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: 450px;
  padding: 1.3rem;
  background-color: transparent;
  transition: all .5s ease-in-out;
  position: relative;
  border-radius: 8px;
}
.singleTodo:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.singleTodo h5{
 font-size: 1.5rem;
 text-transform: capitalize;
 color: #4a69bd;
 overflow-wrap: break-word;
}
.icons{
  position: absolute;
  top: 5px;
  right: 5px;
}
.icon {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 10px;
} 
.editIcon{
  color: #0c2461;
}
.deleteIcon{
  color: #eb2f06;
}
.deleteIcon:hover{
  color: #f9ca24;
}
.editIcon:hover{
  color: green;
}
.allTodos .completedTodo{
  background-color: #6ab04c;
  color: #f9ca24 !important;
}
.completedTodo h5{
  color: #f9ca24;
}
.clearBtn{
  background: transparent;
  padding: 1rem;
  border-radius: 10px;
  outline: none;
  display: block;
  margin: 2rem auto;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #30336b;
  font-size: 1.3rem;
  transition: all .5s ease-in-out;
}
.clearBtn:hover{
  background-color: #f0932b;
  color: #fff;
  border: none;
}
.placeholder{
height: 50vh;
display: flex;
align-items: center;
justify-content: center;
}
.placeholder h1{
  text-transform: uppercase;
  font-size: 3rem;
  color: #130f40;
  text-align: center;
}
.lost{
  text-decoration: none;
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.lost a{
  text-decoration: none;
  background-color: #60A3BC;
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  transition: all .5s ease-in-out;
}
.lost a:hover{
  background-color: #4a69bd;
}
@media(max-width:600px){
  .formRow{
    flex-direction: column;
    
  }
  .formField{
    width: 100% !important;
    margin-top: 2rem;
  }
  .formField input{
    width: 100%;
  }
}
@media(max-width:500px){
  .form{
    width: 90%;
  }
.singleTodo{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}
@media(max-width:400px){
  .nav-link{
    margin-top: 1rem;
  }
}